@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: auto;
    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

h2 {
    /* font-family: 'Bungee Outline', cursive; */
    /* color: red */
}

.footer {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer p {
    font-size: 15px;
}

.footer span {
    color: red;
}

/* NAVIGATION BAR */

.navigation-bar {
    height: 60px;
    width: 100%;
    margin: auto;
    display: flex;
    background: black;
    color: white;
    justify-content: baseline;
    align-items: center;
}

.navigation-bar h2 {
    font-family: "Press Start 2P", cursive;
    font-size: 25px;
    margin-left: 3%;
}

.navigation-bar p {
    position: relative;
    bottom: -1.5px;
    left: 30px;
}

/* UPLOADER */

.container-uploader {
    width: 100%;
    height: 350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/valley.jpg");
    background-size: cover;
}

#uploader {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

#uploader h2 {
    font-weight: 900;
    text-align: start;
}

#amazing {
    font-size: 50px;
    position: relative;
    font-family: 'Concert One', cursive;
    font-weight: 100;
}

#passion {
    font-size: 25px;
    position: relative;
    left: 100px;
}

#uploader img {
    width: auto;
    height: auto;
}

#info-field {
    display: flex;
    flex-direction: row;
}

#info-field input {
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    background: white;
    border: 0;
    box-shadow: 0 0 5px 5px rgba(0,153,255,0.3);
}

#upload-field {
    display: flex;
    flex-direction: column;
}

#file-button {
    margin: 0px;
    padding: 0px;
    border: 0;
    margin-bottom: 10px;
}

.button {
    width: 180px;
    height: 40px;
    text-transform: uppercase;
    font-size: 25px;
    background-color: rgb(0, 153, 255);
    color: white;
    border: 0;
    border-radius: 5px;
    font-weight: 900;
    box-shadow: 0 0 5px 5px rgba(0,153,255,0.3);
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 20px;
    margin-bottom: 20px;
}

#more {
    margin-top: 50px;
    /* margin-bottom: 50px; */
}

.button:hover {
    background-color: white;
    color: rgb(0, 153, 255);
    border: 0;
    font-weight: 900;
    cursor: pointer;
}

/* IMAGES */

.imageboard-container {
    display: grid;
    grid-template-columns: 0.5fr repeat(3, 400px) 0.5fr;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2 / span 3;
    grid-auto-rows: 300px;
    gap: 5px;
    align-content: space-around;
    justify-items: center;
}

.card {
    width: 400px;
    height: 300px;
    border-radius: 0;
}

.card img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    transition: 0.3s;
}

.card img:hover {
    opacity: 0.7;
}

.card span {
    position: relative;
    /* right: -150px; */
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    border-radius: 2px;
    text-align: right;
}

/* MODAL */

#modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#modal-img {
    margin: auto;
    display: block;
    width: auto;
    height: 80%;
}

.text-info {
    display: block;
    position: relative;
    left: 12%;
    bottom: 17%;
    width: 60%;
    text-align: left;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0.5px white solid;
}

#close {
    position: fixed;
    top: -50px;
    right: 50px;
    font-size: 60px;
    color: white;
    font-weight: 900;
    transition: 0.3s;
    cursor: pointer;
}

.next-prev {
    position: absolute;
    height: 100%;
    width: 100px;
    z-index: 5;
    font-size: 100px;
    color:white;
    /* top: 40%; */
    cursor: pointer;
}

.next-prev span {
    position: relative;
    top: -65%;
}

#previous {
    right: 1%;
}

#next {
    left: 4%;
}

#modal-img,
.text-info,
#close {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

/* COMMENTS */

#comments-container {
    z-index: 1;
    display: block;
    position: relative;
    left: 20%;
    bottom: 10%;
    width: 60%;
    text-align: left;
    color: white;
    padding: 30px;
    border: 2px white solid;
}

#comments-stored {
    border: white solid 1px;
    margin-top: 10px;
}

#comment-user, #comment-comment {
    margin-left: 10px;
}

#comments-inputs input {
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    background-color: white;
    border: 0;
    box-shadow: 0 0 5px 5px rgba(255,255,255,0.3);
}

#comments-inputs #submit-comment {
    width: 150px;
    background-color: black;
    color: white;
    transition: all 0.2s;
    cursor:pointer;
    border: 2px white solid;
    text-align: center;
    font-weight: 900;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 0;
}

#comments-inputs #submit-comment:hover {
    background-color: #fff;
    color:rgb(0, 0, 0);
}

/* MOBILE PHONES ONE CARD PER ROW! */

@media only screen and (max-width: 1250px) {
    .imageboard-container {
        display: grid;
        grid-template-columns: 0.25fr repeat(2, 400px) 0.25fr;
        /* grid-template-rows: 90% 10%; */
    }

    .imageboard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 2 / span 2;
        gap: 2px;
    }
}

@media only screen and (max-width: 840px) {
    .imageboard-container {
        display: grid;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        /* grid-template-rows: 90% 10%; */
    }

    #info-field {
        display: flex;
        flex-direction: column;
    }

    .container-uploader {
        height: 520px;
    }

    .imageboard {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 2;
    }
}
